{% load static %}
<html>
  <head>
       <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS, my_style -->
      <link rel="stylesheet" type="text/css" href="{% static 'lists/bootstrap/css/bootstrap.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'lists/style.css' %}">

      <title>{% block title %}{% endblock %}</title>

  </head>
  <body>
    <h1>{% block header %}{% endblock %}</h1>
    <form method="post" action={% block form_action %}{% endblock %}>
      {% csrf_token %}
      {{ form.text }}
      {% if form.errors %}
        <div class="form-group has-error">
          <div class="help-block">{{ form.text.errors }}</div>
        </div>
      {% endif %}
    </form>

    {% block table %}
    {% endblock %}

    <img src="{% static 'lists/1.jpg' %}">
    
    <!-- jQuery  -->
    <script src="{% static 'jquery-3.3.1.js' %}"></script>

    <!-- Optional JavaScript -->
    <script src="{% static 'lists.js' %}"></script>
    
    <script>
      initialize();
    </script>

  </body>
</html>

