{% load static %}
<html>
    <head>
         <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS, my_style -->
        <link rel="stylesheet" type="text/css" href="{% static 'lists/bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="<link rel="stylesheet" type="text/css" href="{% static 'lists/style.css' %}">

        <title>{% block title %}{% endblock %}</title>
 
    </head>
    <body>
        <h1>{% block header %}{% endblock %}</h1>
	    <form method="post" action={% block form_action %}{% endblock %}>
	    	{% csrf_token %}
		    <input name='item_text' id="id_new_item" placeholder="Enter a to-do item" />
		</form>
        {% block table %}
        {% endblock %}

            <!-- Optional JavaScript -->
 
         <img src="{% static 'lists/1.jpg' %}">
 
        
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    </body>
</html>

